body{
    background-image: url("stars2.jpg");
    background-color: black;
}

h3 {
    font-size: 90px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF421;
    text-align: center;
    margin: auto auto 20px auto;
}

.displayList {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto ;
    background-color: rgb(182, 206, 206);
    color:rgb(227, 216, 7);
    border-width: 5px;
    border-style: groove;
    border-color: rgb(245, 234, 25);
    margin:auto auto 20px auto;
    font-size: 24px;
}

.displayList .info{
    list-style: none;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:auto auto auto 5px; 
    color: black;
}

.displayList .info summary{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 18px;
    outline: 0;
}

.displayList .info h5{
    display: block;
    margin: 0;
    font-size: 18px;
}

.displayList .info h6{
    display: none;
    margin: 0;
    font-size: 18px;
}

.displayList .less{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:auto auto auto 5px; 
    color: black;
}

.displayList .less h5{
    display: none;
    margin: 0;
    font-size: 18px;
}

.displayList .less h6{
    display:block;
    margin: 0;
    font-size: 18px;
}

.displayList .box{
    display: flex;
    flex-direction: row;
}

.image{
    margin: 5 5 5 10;
    border-style: groove; 
    border-color: #FFF421;
    border-width: 20px;
}



.displayList .info ul{
    color:black;
    margin: auto 15 auto 5;
    
}

.displayList .info li{
    list-style: none;

}

.h9{
    margin: auto 20px auto auto;
}


.textForm{
    display:flex; 
    background-color: black;
    flex-direction: row;
    padding: 3px 0px 3px 5px;

    margin: auto 0 auto 0;    
}


